mi-fishbone {
  display: block;
  padding-bottom:20px;

  // Define local variables for directive
  $background-inactive: #D9E2E6;
  $background-current: #43799a;
  $bordersize: 20px;

  ul {
    padding:0;
  }


  .wizard li {
    padding: 10px 10px 10px 23px;
    position: relative;
    display: inline-block;
    margin-left: 4px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    background: $background-inactive;
    min-width: 170px;

    &.current {
      background: $background-current;
      color: #fff;
      &:after {
        border-left: $bordersize solid $background-current;
      }
    }

    &:first-child {
      margin-left: 0;
    }
    &:before {
      width: 0;
      height: 0;
      border-top: $bordersize inset transparent;
      border-bottom: $bordersize inset transparent;
      border-left: $bordersize solid $mi-body-bg;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
    }


    &:after {
      width: 0;
      height: 0;
      border-top: $bordersize inset transparent;
      border-bottom: $bordersize inset transparent;
      border-left: $bordersize solid $background-inactive;
      position: absolute;
      content: "";
      top: 0;
      right: -$bordersize;
      z-index: 2;
    }

    //No arrow for first and last
    &:first-child {
      &:before {
        border: none;
      }
    }
    &:last-child {
      &:after {
        border: none;
      }
    }
  }
}
