.selectable-field-wrapper {

  display: block;
  padding: 0 30px 25px 30px;

  background: #fff;
  box-shadow: 0 3px 5px #ddd;
  border-top: 1px #eee solid;

  .title {
    margin-top: 20px;
  }
  table>tbody>tr>th {
    border-top:0;
  }
  ul {
    padding-left: 20px;
  }

  h3, h4, label {
    color: #333;

  }


  h3 {
    font-size: 16px;
    padding-top: 0;
    margin: 0;
  }

  h4 {
    font-size: 14px;
    padding: 15px 0 5px 0;
    margin: 0;
    color: #666;
  }

  .value-part {
    padding-top: 5px;
  }

  .unselected {
    opacity: 0.5;
  }

  .inclusion {
    text-align: right;
    margin-top: 20px;

    .mandatory {
      font-weight: normal;
      color: #000;
      padding: 0;
    }
  }

  &.summary {
    margin: 0 0 1px 0;
    border-radius: 0;
  }

  /**  summary list overrides */
  .row {
    &.summary {
      line-height: 1.1;
      padding-top: 20px;
      h3 {
        font-size: 14px;
        font-weight: bold;
        padding-top: 0;
        margin-top: 0;

        .icon {
          float: right;
          margin-left: 5px;
        }
      }

      h4 {
        margin-top: 0;
        padding-top: 0;
        font-size: 14px;
        font-weight: normal;

      }
      div.text {
        line-height: 1.1;
      }

      .inline-single-value {
        padding-bottom: 8px;
      }
    }

  }
  .summary {

    .text {

      label {
        font-weight: normal !important;
      }
      ul {
        padding-left: 0;
        @media (max-width: 768px) {
          padding-left: 20px;
        }
      }
    }

    .icon {
      line-height: 1;

      &.excluded-icon {
        color: #FF0000;
      }

      &.included-icon {
        color: #008000;
        font-size: 18px;
      }
    }
  }

  .asterix {
    color: #FF0000;
  }
}