ue-diagnos {

  @extend %field-set-disabled-ie11-fix;

  .diagnos-wrapper {

    span.diagnos-text {
      color: $wc-color-09;
    }

    input.validation-error {
      border-color: $wc-color-11;
    }

    .diagnos-row {
      padding-bottom: 15px;
      flex-wrap: wrap;
      display: block;

      &:last-of-type {
        padding-bottom: 0;
      }

      .diagnos-column {
        flex: 1;
      }

      ue-validation-list {
        width: 100%;
        flex-grow: 1;
        margin-top: 6.5px;

        .validation-error {
          margin-top: 6.5px;
        }
      }
    }
  }
}