wc-support-panel-manager {

  $tab-border-color: $wc-color-15;

  $tab-text-color: $wc-color-19;
  $tab-text-color-hover: $wc-color-21;

  $tab-background-color: $wc-color-00;
  $tab-background-color-hover: $wc-color-28;

  $active-tab-text-color: $wc-color-19;
  $active-tab-background-color: $wc-color-15;
  $active-tab-border-color: $active-tab-background-color;

  background-color: $wc-color-24;
  width: $wc-max-content-width * 0.4;
  height: 100%;
  position: relative;
  margin-left: 8px;
  z-index: 4;

  &.minimized {
    width: 110px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;

    .inside-wrapper {
      background-color: $wc-color-27;
      padding-left: 15px;
      padding-right: 15px;
    }

    .minimized-support-tabs {
      display: block;
    }

    .support-tabs,
    .tab-content-wrapper {
      display: none;
    }
  }

  .inside-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
    padding: 4px 0 2px;
  }

  // Tabs
  ul.support-tabs {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;

    > li {
      flex: 1 1 auto;

      &:first-child a {
        border-radius: 4px 0 0 0;
      }

      &:last-child a {
        border-radius: 0 4px 0 0;
      }

      &:only-child a {
        border-radius: 4px 4px 0 0;
      }

      .material-icons {
        margin: -3px 0;
      }

      > a {
        @extend %wc-typo-07;
        display: list-item;
        border: 1px solid $tab-border-color;
        border-radius: 0;
        color: $tab-text-color;
        background-color: $tab-background-color;
        text-shadow: none;
        padding: 8px 11px;
        text-decoration: none;
        text-align: center;

        &:hover {
          background-color: $tab-background-color-hover;
          color: $tab-text-color-hover;
        }
      }

      // Active state, and its :hover to override normal :hover
      &.active > a {
        &,
        &:hover,
        &:focus {
          @extend %wc-typo-06;
          color: $active-tab-text-color;
          background-color: $active-tab-background-color;
          border: 1px solid $active-tab-border-color;
          cursor: default;
        }
      }
    }

  }

  //used by tab instances fmb-panel-tab etc
  .tab-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 1%;
    border: 1px solid $tab-border-color;
    background: $wc-color-00;
  }

  .tab-content-title-row {
    @extend %wc-typo-05;
    color: $wc-color-07;
    background-color: $active-tab-background-color;
    padding: 9px 45px 19px 15px;
    min-height: 70px;

    .navbar-nav > li {
      margin-top: 10px;
    }
  }

  .tab-content-title-row-title {
    display: block;
    margin-top: 15px;
  }

  .footer {
    flex: 1;
    padding: 10px;
    max-height: 40px;
  }

  // Sidebar when minimized
  .minimized-support-tabs {
    display: none;
    text-align: center;
    list-style-type: none;
    padding: 0;

    li {
      margin: 2em 0;
    }

    a {
      position: relative;
      font-weight: 500;
      text-decoration: none;
      display: block;

      span {
        display: block;
      }

      .notification {
        background-color: $wc-color-11; // $wc-color-04
        border-radius: 9px;
        color: $wc-color-00;
        font-weight: 200;
        padding: 2px 10px 3px;
        line-height: 1em;
        font-size: 13px;
        position: absolute;
        top: -11px;
        left: 63%;
        transform: translateX(-50%);
      }
    }
  }

  .tab-content-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 1%;
  }

  .sidebar-minimize {
    position: absolute;
    right: 3px;
    top: 16px;

    a {
      text-decoration: none;

      .material-icons {
        font-size: 28px;

        & + .material-icons {
          margin-left: -25.5px;
        }
      }
    }
  }

  // little hack to hide shadow from space between columns
  &:after {
    content: '';
    position: absolute;
    height: 30px;
    width: 8px;
    bottom: 0;
    right: 100%;
    background-color: $wc-color-24;
  }
}

@media (max-width: 1440px) {
  wc-support-panel-manager.minimized {
    position: relative;
    flex-shrink: 0;
  }
}

