wc-utkast-error-summary {

  display: block;
  background-color: $wc-color-00;
  border-radius: 4px;


  #visa-vad-som-saknas-lista {
    padding: 15px 28px;
    margin-bottom: 14px;

    a {
      @extend %wc-typo-07;
      color: $wc-color-11;
    }
  }

  wc-alert-message {
    display: block;

    .alert {
      display: block;
      margin-bottom: 10px;
    }
  }
}
