wc-alert-message {
  display: inline-block; /* so it is easier to see bounding box in inspector */
  width: 100%;

  .alert {
    @extend %wc-typo-07;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 8px 9px 7px 38px;
    width: 100%;

    .alert-icon {
      .material-icons, .icon-wc-ikon-alert02 {
        position: absolute;
        top: 5px;
        left: 6px;
      }
    }

    a:hover {
      color: $wc-color-07;
    }
    &.alert-komplettering {
      background-color: $wc-color-02;
      color: $wc-color-05;
    }
  }

}
