ue-diagnos-old {

  @extend %field-set-disabled-ie11-fix;

  .ue-diagnos-old {
    position: relative;
    width: 100%;
  }
  
  .checkbox-wrapper {
    margin-top: 23px;
    margin-bottom: 20px;

    .margin-right {
      margin-right: 30px;
      margin-left: 10px;
    }
    .choose-code {
      color: $wc-color-09;
    }
    .padding-left {
      padding-left: 2px;
    }
  }

  .diagnos-wrapper {

    span.diagnos-text {
      color: $wc-color-09;
    }
    input.validation-error {
      border-color: $wc-color-11;
    }

    .diagnos-loading {
      position: absolute;
      right: 9px;
      z-index: 10000;
      top: 10px;
    }

    .diagnos-row {
      padding-bottom: 15px;
      flex-wrap: wrap;

      &:last-of-type{
        padding-bottom: 0;
      }

      .diagnos-description-column {
        padding-left: 20px;
        flex: 1;

        input.form-control {
          max-width: 100%;
        }
      }

      .code-column {
        width: 112px;

        input.form-control {
          padding: 0 9px;
        }
      }

      ue-validation-list{
        width: 100%;
        flex-grow: 1;
        margin-top: 6.5px;

        .validation-error{
          margin-top: 6.5px;
        }
      }
    }

    .dropdown-menu {
      max-height: 350px;
      max-width: 100%;
      padding: 5px 0;
      overflow-y: auto;
      overflow-x: hidden;
      border-color: $wc-color-21;
      right: 0;

      li {
        a {
          text-decoration: none;
        }

        .kod {
          vertical-align: top;
          white-space: pre-wrap;
          display: inline-block;
        }

        .beskrivning {
          width: 90%;
          white-space: pre-wrap;
          display: inline-block;
        }

        .disabled {
          padding: 3px 20px;
        }

        .typeahead_more {
          padding: 3px 7px;
          display: inline-block;
        }
      }
    }
  }
}