uv-wc-fraga {
  display: block;


  h3 {
    font-size: 16px;
    padding: 20px 20px 0 20px;
    margin: 0;
  }

  .fraga-body {
    background: $uv-intyg-body-bg;
    padding: 0 20px 20px 20px;
    border-radius: 4px;
    box-shadow: none;
  }

  .uv-wc-fraga-komplettering {
    border: 1px solid $wc-color-05;
    border-radius: 4px;
    margin: 0 -30px;
    padding: 0 30px;
    wc-bottom-fadeout {
      margin-bottom: 14px;
    }
  }
}
