$th-link-color: $wc-color-08;

a.wc-table-head {
  color: $th-link-color;
  text-decoration: none;
  &:hover, &:focus {
    color: $th-link-color;
    text-decoration: underline;
  }
  .icon-wc-ikon-42:before,
  .icon-wc-ikon-43:before,
  .icon-wc-ikon-44:before {
    font-size: 11px;
    margin-left: 5px;
  }

  .chosen {
    color: $wc-color-21;
   }
}
