.wc-integration-enhet-selector {

  //this modal should appear a bit down on the page
  .modal-dialog {
    margin-top: 100px;
  }

  //and should add vertical scrollbar over 500 px height
  .modal-body {
    padding: 16px 16px;
    max-height: 500px;
    overflow-y: auto;
  }

  .vardgivare {
    @extend %wc-typo-05;

    margin: 8px 0 16px 0;

    .vardgivare__title {
      background-color: $wc-color-20;
      color: $wc-color-09;
      padding: 7px;
    }

    .vardenhet {
      @extend %wc-typo-06;
      color: $wc-color-08;
      padding-left: 70px;
    }

    .missing-subscription {
      padding-left: 28px;
    }

  }

  .btn-link {
    text-decoration: underline;
    padding-left: 0;
    font-weight: inherit;
  }

  .material-icons {
    cursor: pointer;
  }

}
