/*
  wc cookie banner css.
  (the extreme z-index is to make sure the banner is on top of any .stat-circle's)
  */
wc-cookie-banner {
  .wc-cookie-banner-directive {

    margin: 0;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    border: none;
    z-index: 1020;

    .container-fluid {
      @extend %wc-typo-07;

      padding: 15px 25px 15px 15px;
      color: $wc-color-07;
      background: $wc-color-03;
    }
  }
}
