wc-arende-komplettera-utkast-warning {

  .card {
    padding: 20px 28px !important;
  }

  wc-alert-message {
    display: block;
  }

  .alert {
    margin: 0;
    display: flex;
    flex: 1;
  }
}
