ue-fraga {
  display: block;

  h3 {
    font-size: 16px;
    padding-top: 30px;
    margin: 0;
  }

  h4 {
    @extend %wc-typo-05;
    color: $wc-color-08;
  }

  .fraga-body {
    background: $uv-intyg-body-bg;
  }
}
