ue-fraga {
  display: block;

  &.yellow-banner {
    background-color: $wc-color-02;
  }

  .ue-fraga {
    padding: 14px 28px 14px 28px;

    &.no-label-padding {
      padding-top: 0px;
    }
  }

  h3 {
    font-size: 16px;
    padding-top: 30px;
    margin: 0;
  }

  h4 {
    @extend %wc-typo-05;
    color: $wc-color-08;
    padding: 0;
    line-height: 1.25;
  }

  h5 {
    padding-bottom: 14px;
  }

  .fraga-body {
    background: $uv-intyg-body-bg;
  }
}
