.arende-panel-fraga {

  display: block;

  wc-expandable-content {
    word-break: break-word;
  }

  .keep-newlines, .content {
    white-space: pre-line;
  }

  .arende-svara-senast {
    margin-top: 10px;
    color: $wc-color-09;
  }

  .arende-visa-komplettering-button {
    display:flex;
    padding: 5px 10px;
    margin-top: 5px;
    align-items: center;
    background-color: $wc-color-00;
    border: 1px solid $wc-color-05;
    border-radius: 4px;

    align-items: center;
    flex-direction: row;
    flex: 1;
    text-align: left;
    width: 100%;

    color: $wc-color-09;
    .material-icons {
      color: $wc-color-05;
      margin-right: 10px;
    }
    .arende-visa-komplettering-text {
      flex-grow: 1;
      div {
        color: $wc-color-05;
      }
    }
    &:hover {
      background-color: $wc-color-21;
      border-color: $wc-color-21;
      color: $wc-color-00;
      .material-icons {
        color: $wc-color-00;
      }
      .arende-visa-komplettering-text {
        div {
          color: $wc-color-00;
        }
      }
    }
  }
}
