ue-label {
  display: block;
  position: relative;

  .form-horizontal .control-label {
    text-align: left;
  }

  .label-icon {
    color: $wc-color-21;
    margin-left: -4px;

    &.is-locked {
      color: $wc-color-09;
    }
  }
}

.form-horizontal ue-label .control-label {
  text-align: left;
}

.control-label {
  max-width: 600px;
  vertical-align: baseline;
  font-weight: normal;
}
