
.diagnos-loading
{
  position: absolute;
  right: 9px;
  z-index: 10000;
  top: 10px;
}

.diagnosRow {
  td, th {
    padding-right: 5px;
    padding-bottom: 2px;
  }
  .diagnosDescriptionColumn {
    width:450px;
  }
}
