
.diagnos-loading
{
  position: absolute;
  right: 9px;
  z-index: 10000;
  top: 10px;
}

.diagnosRow {
  td, th {
    padding-right: 5px;
    padding-bottom: 2px;
    min-width: 60px;
  }
  .diagnosDescriptionColumn {
    padding-right: 0px;
    width: 450px;
  }
}

.dropdown-menu > li > .disabled  {
  padding: 3px 20px;
}