.sjukskrivningar {

  @media (min-width: 1200px) {
    .col-lg-auto {
      width: auto;
    }

    .col-lg-pull-none {
      float: none !important;
    }
    .col-lg-no-padding-right {
      padding-right: 0;
    }
  }

  @media (min-width: 1340px) {
    .col-vlg-auto {
      width: auto;
    }
    .col-vlg-pull-right {
      float: right;
    }
    .invisible-vlg {
      display: none !important;
    }
    textarea.form-control {
      max-width: 1000px;
    }
  }

  .hoursPerWeek {
    width: 50px;
  }
  .sjukskrivningar-section {
    margin: 0 0 10px 0;
  }

  label {
    font-weight: normal;
    line-height: 32px;
    vertical-align: bottom;
    margin-bottom: 0;
    input[type=checkbox].big-checkbox {
      margin-top: 5px;
    }
  }

  .sjukskrivningar_period {
    float: right;
  }
}
