.sjukskrivningar {
  .hoursPerWeek {
    width: 40px;
  }
  .sjukskrivningar-section {
    margin: 0 0 10px 0;
  }

  label {
    font-weight: normal;
    line-height: 32px;
    vertical-align: bottom;
    margin-bottom: 0;
  }

  .sjukskrivningar_period {
    float: right;
  }
}
