/* Formly underlag styles */
.deleteUnderlag {
  cursor: pointer;
}

.whitebg {
  background: white;
}

.indent-underlag {
  padding-left: 1em;
}

.underlagRow .ui-select-bootstrap > .ui-select-choices {
  max-height: 400px;
  width: auto;
  max-width: 400px;
}

.underlagRow > td, .underlagRow > th {
  padding-right: 4px;
  padding-bottom: 10px;
}

.underlagRow > th {
    font-size: 12px;
    font-weight: normal;
    vertical-align: bottom;
}

.underlagRow .ui-select-match span {
  text-overflow: ellipsis;
}

.underlagRow .ui-select-match {
  overflow: hidden;
  max-width: 50px;
}

.underlagRow .ui-select-toggle {
    padding: 7px 6px;
}

@media screen and (min-width: 1180px) {

  .underlagRow .ui-select-match {
    max-width: 100px;
  }

}

@media screen and (min-width: 1340px) {

  .underlagRow .ui-select-match {
    max-width: 237px;
  }

}
