//Local variables

$navbar-border-bottom-color: $wc-color-15;
$nav-border-color: $wc-color-15;
$navbar-collapse-border-left-color: $wc-color-13;

$stat-circle-background-color: $wc-color-22;
$stat-circle-color: $wc-color-00;
$stat-circle-active-color: $wc-color-00;
$stat-circle-active-background-color: $wc-color-11;
$stat-circle-active-border-color: $wc-color-11;

wc-main-menu {
  display: flex;
  align-items: center;

  // center the entire directive, and constrain the max width
  max-width: $wc-max-content-width;
  margin: auto;

  .navbar {
    flex: 1;
    min-height: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
  }

  .navbar-wc {
    background-color: $wc-color-26;
    border-color: transparent;

    .navbar-collapse {
      padding: 0;
    }

    .navbar-nav {
      > li > a {
        @extend %wc-typo-10;
        color: $wc-color-00;
        line-height: normal;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 22.5px;
        padding: 5px 15px;
        margin: 6px 26px;
        text-decoration: none;

        &:hover,
        &:focus {
          background-color: $wc-color-19;
          border-color: $wc-color-21;
        }
      }

      > .active > a {
        &,
        &:hover,
        &:focus {
          @extend %wc-typo-05;
          background-color: $wc-color-21;
        }
      }
    }
  }

  .badge__stat {
    @extend %wc-typo-13;
    margin-left: 10px;
    background-color: $wc-color-20;
    border-color: $wc-color-20;
    color: $wc-color-19;
  }

  .menu-label {
    padding: 2px 0;
    display: inline-block;
  }
}