//
///* A panel to be used instead of the regular bootstrap panels, panel-default etc.
// * Specifically targeting the SRS-accordion
// */
// $srs-border-color: $wc-color-15;
// $srs-panelheading-color: $wc-color-08;
// $srs-panelheading-background-color: $wc-color-00;
// $srs-panelheading-background-hover-color: $wc-color-03;
// $srs-panelheading-border-color: $wc-color-15;
// $srs-panelcollapse-border-color: $wc-color-00;
// $srs-panelfooter-color: $wc-color-22;
// $srs-diagnosis-color: $wc-color-07;
// $srs-glyphicon-hover-color: $wc-color-22;
//
// .panel-srs-info-heading {
//     padding: 9px 0 8px 15px;
//     border-bottom: 1px solid $srs-border-color;
//     background-color: $wc-color-07;
//     color: $wc-color-00;
// }
//
// //.take-all-space-you-can{
// //  width:100%;
// //}
//
//// .srs-atgard{
//// }
////
//// .srs-atgard-bas {
////   width: 75%;
//// }
////
////.srs-atgard-mer {
////  clear: both;
////}
//wc-srs-panel-tab {
//  display: flex;
//  flex-direction: column;
//  flex: 1;
//  min-height: 1%; //without a min-height IE11/edge wont shrink flex-items
//
//  hr {
//    width: 100%
//  }
//
//  // Internal tab
//  ul.nav.nav-tabs > li.rounded > a {
//    background-color: #FFFFFF !important; // Need to use important because somebody used important on the wc-common.css
//    border-color: #FFFFFF;
//    border-radius: 16px;
//    color: #292F4F !important;// Need to use important because somebody used important on the wc-common.css
//    text-decoration: none;
//  }
//
//  ul.nav.nav-tabs > li.rounded > a:hover {
//    border-color: #496CEC;
//    color: #292F4F !important;// Need to use important because somebody used important on the wc-common.css
//  }
//
//  ul.nav.nav-tabs > li.rounded.active > a {
//    background-color: #496CEC !important; // Need to use important because somebody used important on the wc-common.css
//    border-color: #496CEC;
//    color: #FFFFFF !important;// Need to use important because somebody used important on the wc-common.css
//  }
//
//  .nav {
//    .nav-tabs {
//      .rounded {
//        border-radius: 14px;
//      }
//      .rounded.active {
//        background-color: #496CEC;
//      }
//    }
//  }
//
//  .srs-panel-title {
//    margin: 0px 19px 0px 0px;
//    text-decoration: underline;
//
//    > span {
//      padding: 0;
//    }
//  }
//
//  .srs-section {
//    padding-bottom: 20px;
//    color: $wc-color-07;
//    font-weight: 400;
//
//    h4 {
//      @extend %wc-typo-05;
//      padding: 8px 0;
//    }
//
//    div {
//      @extend %wc-typo-07;
//    }
//
//    section {
//      @extend %wc-typo-07;
//    }
//
//    .missing-info {
//      @extend %wc-typo-12;
//    }
//  }
//}
//
//
// .srs-question{
//  display: inline;
// }
//
// .srs-btn6b-height-adjustment{
//   top: -10px !important;
// }
//
// .prediction-box{
//   border: 3px solid $wc-color-07 !important;
//   background-color: $wc-color-00 !important;
//   color: $wc-color-07 !important;
//   border-radius: 0px !important;
// }
//
// .nav-tabs > li.rounded.active > a,
// .nav-tabs > li.rounded.active > a:hover,
// .nav-tabs > li.rounded.active > a:focus  {
//   background-color: $wc-color-00 !important;
//   color: $wc-color-07 !important;
// }
//
// .nav-tabs > li.rounded > a  {
//   background-color: $wc-color-10 !important;
//   color: $wc-color-00 !important;
// }
//
// .tab-inactive{
//   background-color: $wc-color-10 !important;
//   color: $wc-color-00 !important;
// }
//
// .close-button{
//   color: $wc-color-00 !important;
//   background-color: $wc-color-07 !important;
// }
//
// .align-srs-close-button-right{
//   position:absolute;
//   top:0px;
//   right:0px;
// }
//
// .radio-inline{
//   position:relative;
//   display:inline-block;
//   padding-left:20px;
//   margin-bottom:0;
//   vertical-align:middle;
//   font-weight:400;
//   cursor:pointer
// }
//
// .button-rounded{
//   border: 2px solid;
//   border-radius: 27px !important;
//   background-color: $wc-color-16;
// }
//
// .srs-question-element{
//  clear:both;
//  float:left;
//  margin-bottom:25px;
// }
//
//.srs-questions-submit{
//  clear:both;
//}
//
// .srs-fixed-panel{
//   position:fixed !important;
//   top:25% !important;
//   left:50% !important;
// }
//
// .questionBottomMargin{
//  display: block;
//  margin-bottom:50px;
// }
//
// #closeButton{
//   background-color: Transparent;
//   background-repeat:no-repeat;
//   border: none;
//   cursor:pointer;
//   overflow: hidden;
//   outline:none;
// }
//
// .test-box {
//  padding: 10px;
//  margin: 0 0 1em;
//  background: $wc-color-01;
//  border-bottom:1px solid $wc-color-22;
//}
//
// .title {
//   background:$wc-color-04;
//   padding: 10px;
//   display: inline-block;
// }
// .description {
//   background: $wc-color-12;
//   display: none;
// }
//
// .title:hover + .description,
// .description:hover {
//   display: block;
// }
//
// .risk-standard{
//   border: 1px solid $wc-color-16;
//   color: $wc-color-04;
//   background-image: none;
//   padding-right: 22px;
//   max-width: 993px;
//   padding: 15px;
//   margin-bottom: 20px;
//   border-radius: 4px;
// }
//
// /* SIT type drafts needs a smaller srs info panel to avoid overlapping srs-panels, by wrapping the srs directive with this class we can override the default heights */
// .sit-srs-small {
//   .panel-srs-info {
//     .panel-body {
//       max-height: 130px;
//     }
//   }
// }
//
// .sit-srs-medium {
//   .panel-srs-info {
//     .panel-body {
//       max-height: 180px;
//     }
//   }
// }
//
// .sit-srs-large {
//   .panel-srs-info {
//     .panel-body {
//       max-height: 400px;
//     }
//   }
// }
//
// .btn-srs {
//   padding: 5px 5px;
//   font-size: 12px;
//   line-height: 12px;
//   min-width: 60px;
// }
//
// .btn-default.btn-srs:hover, .btn-default.btn-srs:focus {
//   color: $wc-color-08;
//   background-color: $wc-color-20;
//   border-color: $wc-color-23;
// }
//
// #srs {
//   position: relative;
// }
//
// #panel-wrapper-srs {
//   right: -5px;
//   top: -4px;
//   position: absolute;
//   transition-property: opacity;
//   transition-duration: 0.4s;
//   z-index: 100;
//
//   &.srs-collapse {
//     opacity: 0;
//   }
// }
//
// .panel-arrow {
//   position: absolute;
//   right: -1px;
//   top: 7px;
//   opacity: 1;
//   z-index: 101;
//
//   &.srs-collapse {
//     display: none;
//     /*opacity: 0;*/
//   }
//
//   &:after, &:before {
//     position: absolute;
//     display: inline-block;
//     content: '';
//   }
//
//   &:before {
//     border-top: 11px solid transparent;
//     border-right: 11px solid $srs-border-color;
//     border-bottom: 11px solid transparent;
//     left: -11px;
//     top: 0px;
//   }
//
//   &:after {
//     border-top: 10px solid transparent;
//     border-right: 10px solid $wc-color-07;
//     border-bottom: 10px solid transparent;
//     left: -10px;
//     top: 1px;
//   }
// }
//
// .srs-panel-tabset {
//   margin-top: -30px;
//
//   > ul {
//     border-bottom: none;
//     margin-left: -1px;
//   }
//
//   .nav-tabs > li > a {
//     margin-right: 2px;
//     line-height: 1.42857143;
//     border: 1px solid transparent;
//     border-radius: 4px 4px 0 0;
//     background-color: $wc-color-13;
//   }
//
//   .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
//     color: $wc-color-09;
//     cursor: default;
//     background-color: $wc-color-00;
//     border: 1px solid $wc-color-13;
//     border-bottom-color: transparent;
//   }
//
//   .nav > li > a {
//     padding: 5px 32px;
//   }
// }
//
// .srs-panel-tabset.hide-tabs > ul {
//   visibility: hidden;
// }
//
// .panel-srs-info {
//   position: absolute;
//   border-color: $srs-border-color;
//   width: 620px;
//   /*overflow: hidden;*/
//   z-index: 100;
//   box-shadow: 0px 0px 14px $black_30;
//   border-radius: 0 4px 4px 4px;
//
//   .panel-body {
//     max-height: 334px;
//     margin-top: 0;
//     padding: 15px 15px 5px 15px;
//     overflow-x: hidden;
//     overflow-y: auto;
//     position: relative;
//   }
//
//   > .panel-heading {
//     transition-property: background-color;
//     transition-duration: 0.4s;
//     background-color: $srs-panelheading-background-color;
//     border-color: $srs-panelheading-border-color;
//     color: $srs-panelheading-color;
//     padding-bottom: 0;
//     + .panel-collapse .panel-body {
//       border-top-color: $srs-panelcollapse-border-color;
//       padding-bottom: 0;
//       padding-top: 0;
//     }
//   }
//
//   > .panel-footer + .panel-collapse .panel-body {
//     border-bottom-color: $srs-border-color;
//     padding-top: 0;
//   }
//
//   .panel-footer--srs {
//     background-color: $srs-panelheading-background-color;
//     text-align: center;
//     color: $srs-panelfooter-color;
//   }
//
//   .srs-panel-title {
//     margin: 0px 20px 0px 0px;
//     width: 520px;
//
//     > span {
//       padding: 0;
//       text-decoration: underline;
//     }
//   }
//
//   .srs-collapse-icon {
//     position: absolute;
//     top: 0;
//     right: 0;
//     border: none;
//     line-height: 13px;
//     padding: 10px 12px;
//     border-radius: 0 4px 0 0;
//   }
// }
//
// .srs-icon-text {
//   vertical-align: middle;
// }
//
// .srs-diagnosis-headline {
//   color: $srs-diagnosis-color;
//   padding-top: 0;
//   padding-bottom: 0;
//   margin-bottom: 5px;
// }
//
// h4.srs-sub-headline {
//   padding-bottom: 0 !important;
// }
//
// .srs-section {
//   padding-bottom: 10px;
// }
//
// .srs-bullet-list {
//   padding-left: 20px;
// }
//
// .col-srs-base-offset {
//   margin-top: 30px;
// }
//
// /*Make the SRS-display a bit responsive*/
// @media (min-width: 992px) {
//   .col-md-srs-offset {
//     margin-top: 50px;
//   }
// }
//
// @media (min-width: 1340px) {
//   .col-lg-srs-offset {
//     margin-top: 30px;
//   }
// }
