.wc-help-chevron {
  display: inline-block;
  position: relative;
  vertical-align: top;

  .wc-help-chevron__button {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0 5px;
    background-color: transparent;
    color: $wc-color-21;
    outline: none;

    &:focus {
      outline: 1px dotted $wc-color-07;
    }
  }
}
