uv-icf {
  display: block;

  h4 {
    font-size: 14px;
    padding-top: 15px;
    margin: 0;
    color: $wc-color-09;
  }
  
  .value {
    display: inline-block;
    padding-top: 5px;
    max-width: 100%;
  }
}
