
.customize-pdf-header {
  padding:10px 0;
}

.selectable-field-list {
  padding:10px 0;
}

.customize-pdf-body {
  padding-top:10px;
}

@import "../../app-shared/directives/fkList/fkList.directive";
@import "../../app-shared/directives/fkUvBooleanValue/fkUvBooleanValue.directive";
@import "../../app-shared/directives/fkUvTable/fkUvTable.directive";
