arende-panel-header {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px $wc-color-15;

  > div {
    display: flex;

    .arende-header-icon {
      color: $wc-color-09;
      margin-right: 14px;
      line-height: 40px;
    }

    .arende-header-middle {
      @extend %wc-typo-07;
      flex-grow: 1;
    }

    .arende-header-right {
      display: flex;
      flex-direction: column;

      .arende-header-date {
        @extend %wc-typo-07;
        color: $wc-color-09;
        margin-top: auto;
      }
    }

  }

}