ue-dropdown {

  .ui-select-bootstrap > .ui-select-choices {
    max-height: 400px;
    width: auto;
    max-width: 400px;
  }


  .ui-select-match span {
    text-overflow: ellipsis;
  }

  .ui-select-match {
    overflow: hidden;
    max-width: 100px;
  }

  .ui-select-toggle {
    padding: 7px 6px;
  }

  @media screen and (min-width: 1180px) {

    .ui-select-match {
      max-width: 160px;
    }

  }

  @media screen and (min-width: 1340px) {

    .ui-select-match {
      max-width: 237px;
    }

  }
}