uv-fraga {
  h3 {
    padding-top: 15px;
  }

  margin-bottom: 15px;
}

uv-del-fraga h4 {
  color: #000;
}

uv-kategori, uv-wc-kategori {
  h2 {
    padding: 20px 0 0 0;
  }

  .kategori-body {
    padding: 12px 14px 12px 14px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: none;
  }
}