uv-skapad-av {
  display: block;
  padding-top: 20px;

  .uv-skapad-av-body {
    padding-top: 20px;
    background: $mi-intyg-header-bg;
    color: $mi-intyg-header-color;
    padding: 30px;
    margin: 0;

    //Give each column some padding so that they separate nicely when stacking
    div.row > div {
      padding-top: 10px;
    }

  }

}