arende-new {
  display: block;

  .arende-new-heading {
    @extend %wc-typo-05;
    margin-bottom: 12px;
  }

  wc-dropdown {
    width: 200px;
  }

  textarea.form-control {
    height: 96px;
  }

  button.btn-success {
    margin-right: 10px;
  }

  .arende-draft-status {
    @extend %wc-typo-07;
    color: $wc-color-07;

    > span > i {
      font-size: 14px;
      color: $wc-color-10;
    }

    wc-alert-message .alert {
      @extend %wc-typo-09;
    }
  }
}
