ue-kategori {

  .ue-kategori__heading {
    display: block;
    padding: 24px 28px 4px 28px;
    border-bottom: 2px solid $wc-color-15;

    h3 {
      position: relative;
      @extend %wc-typo-02;
      color: $wc-color-07;
    }
  }

  .card {
    padding-bottom: 14px;
  }

  .ue-kategori__body {
    padding-top: 14px;
  }
}
