.latest-events {
  .lastevent-header {
    font-weight: bold
  }

  .event-row {
    padding: 0.9em;
  }

  .event-row-tight {
    display: inline-block;
  }

  .event-text {
    padding-left: 1em;
  }

  .stripe-dark {
    background-color: #D9E2E6;
  }

  &-timestamp {
    font-weight: bold;
  }
  .btn-link .icon {
    display: inline-block;
  }
}
