ue-diagnos-kod-system {

  @extend %field-set-disabled-ie11-fix;

  .ue-diagnos-kod-system {
    position: relative;
    width: 100%;
  }

  .checkbox-wrapper {
    margin-top: 23px;
    margin-bottom: 20px;

    .margin-right {
      margin-right: 30px;
      margin-left: 10px;
    }

    .choose-code {
      color: $wc-color-09;
    }

    .padding-left {
      padding-left: 2px;
    }
  }

}