//TODO: All rules in this file is to be considered legacy and should be cleaned up and possibly removed by refactoring into directives

// Misc rules used in multiple templates and directives and across several intygstyper - keep for now, but maybe
// bad practice and should be refactored away?
.bold {
  font-weight: bold !important;
}

.disabled {
  color: $wc-color-09;
  cursor: not-allowed;
}

.counter {
  font-style: italic;
  font-size: 11px;
}

.banner-margin {
  margin-top: 60px;
  max-width: 1024px;
}

.collapsed {
  margin-top: 150px;
}


.revoked-certificate {
  .alert-info {
    display: none;
  }

}

.intyg-body .validation {
  display: table;
  padding: 0 10px;
  margin-top: 5px;
  margin-bottom: 0;
}

.intyg-body td .validation {
  margin-top: 3px;
  margin-bottom: 12px;
}

td .last-validation .validation, .last-validation td .validation {
  margin: 0;
}

.webcert-multicol .certificate {
  max-width: 1000px;
}

.indent {
  padding-left: 20px !important;
}

/*
  Disablar rensa-kryss-knappen i IE eftersom de inte skickar en change event som angularjs kan lyssna på.
  En workaround kan vara på gång i AngularJS. Se https://github.com/angular/angular.js/issues/11193
*/

::-ms-clear {
  display: none;
}

.inline-block {
  display: inline-block !important;
  vertical-align: middle;
}

//Larger structures used in multiple places

/* Intyg-edit menu header collapse animation */

%transition-with-ease-out {
  transition: all ease-out 0.5s;
  position: relative;
}

/*Fade out fields not desired when smittskydd is checked */

.field-fade {
  opacity: 1;
  left: 0;
  @extend %transition-with-ease-out;
  &.ng-hide-add {
    display: block !important;
    @extend %transition-with-ease-out;
  }
  &.ng-hide {
    opacity: 0;
    left: -10px;
  }
}

/* Used in common wcModal.window.html only */

.fade.ng-hide-remove {
  display: block !important;
  @extend %transition-with-ease-out;
}

//---------------------
