uv-kategori {
  h2 {
    padding: 15px 0 10px 0;
  }
  .kategori-body {
    background: $uv-intyg-body-bg;
    padding: 0;
    box-shadow: none;
    border-radius: 4px;
  }
}


uv-del-fraga h4 {
  color: $wc-color-07;
  padding-bottom: 0;
}

uv-table {
  .table {
    > thead > tr > th,
    > thead > tr > td,
    > tbody > tr > th,
    > tbody > tr > td {
      padding: 8px;
      vertical-align: top;
    }
  }
}

uv-render-components {
  h3, h4, h5, uv-no-value span {
    .revoked-certificate & {
      color: $wc-color-22;
    }
  }
}
