.makulera-choices {
  textarea {
    margin-bottom: 10px;
    resize: none;
  }

  wc-radio-wrapper {
    padding-bottom: 10px;
  }
}

textarea.form-control {
  width: 100%;
  border: 1px solid $wc-color-15;
  border-radius: 4px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  overflow-y: auto;
  resize: none;
}

textarea.form-control:focus {
  outline: none !important;
  border: 1px solid $wc-color-21;
  box-shadow: 2px 2px 4px 0 $black_12;
}

/* this is a workaround for fieldset[disabled] not working correctly in IE11, needs an input-wrapper around the input field */
%field-set-disabled-ie11-fix {
  input.form-control {
    &:disabled, fieldset[disabled] & {
      pointer-events: none;
    }
  }

  fieldset[disabled] & .input-wrapper {
    cursor: not-allowed;
  }
}

fieldset[disabled] button {
  pointer-events: none;
}
