ue-validation-wrapper {

  display: block;

  .validation-error {
    input:not(.no-fielderror), textarea {
      border: 1px solid $wc-color-11;
    }
    wc-checkbox-wrapper .wc-checkbox label:before,
    wc-radio-wrapper .wc-radio label:before,
    wc-dropdown .dropdown-label, wc-dropdown .dropdown-label.open {
      border-color:  $wc-color-11;
    }

    .wc-datepicker-wrapper button {
      border-right-color: $wc-color-11;
      border-top-color: $wc-color-11;
      border-bottom-color: $wc-color-11;
    }

  }

}
