@import '../wcAppHeader.variables.scss';

//Local variables
$wc-header-hamburger-width: 50px;

wc-header-help {

  //default is to act as a growing, shrinkable flex-item, taking excessive widths
  flex: 1 1 auto;
  @media (max-width: $wc-header-collapse-breakpoint-width) {
    //but in compact mode, instead dont let it grow
    flex-grow: 0;
  }

  //is a flex container that lays out the different "help" sections
  display: flex;
  //push all items to the right
  justify-content: flex-end;

  //base text color for this component
  color: $wc-color-20;

  .wc-header-directive-container {
    min-width: 120px;
    padding-right: 16px;
    display: flex;

    &.about-section {
      //shrink very aggressivly
      flex: 1 5;
      display: flex;
      justify-content: flex-end;
    }

    &.logout-section {
      flex: 0 1 auto;
      display: flex;
      justify-content: center;
      padding: 0 8px;
      border-right: none;

    }

    &.create-account-section {
      @extend %wc-typo-07;
      a {
        @extend %wc-typo-06;
      }
      flex: 1 5;
      justify-content: flex-end;
      .vertical-container {
        align-items: flex-end;
      }
    }

    &.hamburger-menu {
      padding: 0;
      flex: 0 auto;
      min-width: 1px;
      width: $wc-header-hamburger-width;
      display: flex;
      justify-content: flex-end;
      box-shadow: none;

      &.expanded {
        //leftmost shadow
        box-shadow: 0 -5px 8px 0 rgba(0, 0, 0, 0.32);
      }

      .btn {
        padding: 0;
      }

    }

  }

  //Dropdown fo hamburgermenu is a bit special since it should be wider than the containing element (the hamburgermenu)
  //we place it absolutely right under the wc-header.
  .dropdown {
    position: absolute;
    z-index: 1;
    right: 0;
    top: $wc-header-height;

    //Create a cover plate to overlay the part of the dropdowns boxshadow that overlap the hamburger menu
    .dropshadowfixer {
      position: absolute;
      top: -5px;
      right: 0;
      width: $wc-header-hamburger-width;
      height: 5px;
      z-index: 1003;
      background-color: $wc-color-17;

    }
  }
  //Override wc-app-header style for this particular dropdown
  .dropdown-menu {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.32);
  }

}
