
wc-header-help {

  //In normal mode, let his flex, but shrink rather aggressively
  flex: 1 4 auto;


  @media (max-width: 991px) {
    //In compact mode, when only hanburger menu is shown set fixed size and let other take exess space.
    max-width: 38px;
  }


  height: 100%;
  display: flex;
  //base text color for this component
  color: $wc-color-20;

  .wc-header-directive-container {

    &.about-section {
      //shrink very aggressivly
      flex: 1 5;
      //but no more than..
      min-width: 120px;
      display: flex;
      justify-content: flex-end;
      padding-right: 16px;
    }

    &.logout-section {
      flex: 1;
      display: flex;
      justify-content: center;
      min-width: 109px;
      max-width: 109px;
      padding: 0 8px;

    }

    &.hamburger-menu {
      flex: 1;
      display: flex;
      justify-content: center;
      box-shadow: none;
      z-index: 2;

      &.expanded {
        //leftmost shadow
        box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.32);
      }

      .btn {
        padding: 0;
      }

      .glyphicon {
        font-size: 26px;
      }
    }

  }
  .dropdown {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 80px;
  }
  //Override wc-app-header style for this particular dropdown
  .dropdown-menu {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.32);
  }
}
