arende-paminnelse {
  display: block;

  wc-alert-message {
    display: block;

    .alert {
      display: block;
      margin-bottom: 10px;

      .arende-paminnelse-header {
        display: flex;
        .arende-paminnelse-heading {
          @extend %wc-typo-06;
          flex-grow: 1;
        }
        .arende-paminnelse-datum {
        }
      }

    }
  }
}