.wc-intyg-read-only {
  padding: 20px 30px;
  overflow-y: auto;

  .intyg-body {
    padding: 15px;
    background-color: $wc-color-27;
  }

  .srs-border {
    border-right:1px $wc-color-20 solid;
  }
  //Here we can override default webcert styles for uv framework components e.g:
  uv-kategori h2 {

  }
}
