// Override variables for uv-framework in app-shared with WC specific styling
$uv-body-bg: $wc-color-20;
$uv-spinner-color: $wc-color-21;
$uv-intyg-body-bg: $wc-color-13;
$uv-box-shadow-color: $wc-color-13;
$uv-intyg-header-bg: none;
$uv-intyg-header-color: $wc-color-16;
