wc-button {
  display: block;

  .btn {
    position: relative;
  }

  .loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
  }
}
