ue-textarea {
  display: block;

  textarea.form-control {
    overflow-y: hidden;
    &:disabled, fieldset[disabled] & {
      background-color: $wc-color-20;
      color: $wc-color-09;
      pointer-events: none; /* this is a workaround for fieldset[disabled] not working correctly in IE11 */
    }
  }

  /* this wrapper is a workaround for fieldset[disabled] not working correctly in IE11 */
  fieldset[disabled] & .textarea-wrapper {
    cursor:not-allowed;
  }
}
