uv-signed-by {
  display: block;
  margin-top: 20px;

  .infobox {
    background-color: $wc-color-26;
    border-radius: 4px 4px 4px 4px;
    color: $wc-color-00;
    padding: 0;

    .signedby-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $wc-color-19;
      padding: $intyg-signed-card-header-padding;

      h2 {
        @extend %wc-typo-02;
        padding: 3px 0 0;
        margin: 0;
        color: $wc-color-00;
      }

      .date {
        @extend %wc-typo-10;
        vertical-align: bottom;
        white-space: nowrap;
      }

      .date-wrapper {
        white-space: nowrap;
      }
    }

    .signedby-body {
      padding: $intyg-signed-card-body-padding;

      h3 {
        @extend %wc-typo-05;
        padding: $intyg-signed-card-h3-padding;
        span {
          padding-top: 5px;
          display: inline-block;
          &:empty {
            display: none;
          }
        }
      }

      p {
        @extend %wc-typo-07;
      }
    }
  }
}
