uv-signed-by {
  display: block;

  margin-top: 20px;

  div.infobox {
    background-color: $wc-color-16;
    border-radius: 4px 4px 4px 4px;
    color: $wc-color-00;
    padding: 20px;
    h3 {
      font-size: 16px;
      padding: 0;
      color: $wc-color-00;
    }
    h4 {
      padding: 10px 0 5px 0;
      color: $wc-color-00;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
