wc-arende-no-administrativa-fragor-message {
  display: flex;
  background-color: $wc-color-00;
  flex-direction: column;
  padding: 40px;
  text-align: center;

  div {
    margin: auto;

    img {
      margin: 20px;
    }
  }
}
