wc-intyg-status-slot {
  .wc-color-05 {
    color: $wc-color-05;
  }

  .wc-color-10 {
    color: $wc-color-10;
  }

  .wc-color-11 {
    color: $wc-color-11;
  }

  .icon-wc-ikon-02, .icon-wc-ikon-alert02 {
    line-height: 1;
  }
}
