wc-utkast-status {

  @extend %wc-typo-09;
  color: $wc-color-06;

  .status {
    min-width: 140px;
    margin-right: 38px;
  }

  #utkast-created {
    float: right;
  }

  wc-alert-message .alert {
    margin-top: -13px;
    margin-bottom: 0;
  }
}
