wc-help-wrapper {
  position: relative;
  display: block;

  .wc-help-wrapper {
    position: absolute;
    right: -5px;
    top: 0;
    z-index: 1;
  }

  .help-column {
    padding-right: 60px;
  }
}
