wc-utkast-footer-vidarebefordra {

    display: block;
    margin-bottom: 25px;

    wc-button {
        margin-right: 15px;
    }

    wc-toggle {
      flex: 1 1 100%;
      text-align: right;
    }
    .material-icons.check-color {
      color: $wc-color-10;
    }

    .icon-wrapper {
      display: inherit;
    }

  .icon-text {
    padding: 0 0 0 5px;
    font-weight: normal;
    margin: auto;
  }
}
