wc-utkast-footer-vidarebefordra {

    display: block;
    margin-bottom: 25px;

    wc-button {
        margin-right: 15px;
    }

    wc-toggle {
      flex: 1 1 100%;
      text-align: right;
    }

}
