ue-sjukfranvaro {

  .ue-sjukfranvaro {
      padding-top: 14px;
  }

  .niva.validation-error {
    border-color: $wc-color-11;
  }



  .full-time-label-span {
    line-height: 38px;
  }

  wc-alert-message {
    .alert {
      margin: 10px 0;
    }
  }

  input[type=text] {
      &.form-control.niva{
        display: inline-block;
        width: 40px;
      }
  }

  label {
    font-weight: normal;
  }

  .sjukfranvaro_period label {
    margin-right: 9px;
  }

  .row {
      padding-bottom: 10px;
  }

  .ifyllnadsstod {
    i {
      margin-left: -4px;
    }
    color: $wc-color-21;
  }
}
