wc-intyg-header {
  wc-spinner .wc-spinner {
    height: 83px;
    padding: 10px;
  }

  #tillbakaButton {
    @extend %wc-typo-09;
    color: $wc-color-06;
    margin-right: 38px;
  }
}

.page-header-divider {
  border-bottom: 1px solid $wc-color-15;
  padding-bottom: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col-max {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.flex-col-min {
  display: flex;
  align-items: flex-end;
}

wc-intyg-header .wc-page-header {
  padding: 10px 28px 10px 28px;

  .page-heading1 {
    padding: 16px 0 0 0;
    @extend %wc-typo-01;
    color: $wc-color-06;
  }

  .page-heading2 {
    padding: 8px 0 4px 0;
    @extend %wc-typo-04;
    color: $wc-color-06;
  }
}

.wc-intyg-patient-namn-personnummer label {
  margin: 0;
  vertical-align: bottom;
  margin-bottom: -5px;
}


