wc-integration-utkast-deleted {

  @extend %wc-typo-07;
  color: $wc-color-07;
  display: block;
  width: 475px;
  margin: 20px auto 0 auto;

  img {
    display: block;
    width: 130px;
    margin: 0 auto 10px auto;
  }

  strong {
    @extend %wc-typo-05;
    display: block;
    text-align: center;
  }
}
