wc-inline-komplettering {
  display: block;

  wc-alert-message {
    display: block;
    .alert {
      display: block;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-right: 20px;
    }
  }

  .inline-komplettering-text {
    white-space: pre-line;
    word-break: break-all;
  }

  .inline-komplettering-heading {
    @extend %wc-typo-06;
  }
}
