wc-inline-komplettering {
  display: block;

  wc-alert-message {
    display: block;
    .alert {
      display: block;
      margin-bottom: 0;
    }
  }

  wc-bottom-fadeout {

    .bottom-fadeout-gradient {
      padding: 0 4px;
    }
    .scrollable-body:after {
      padding-bottom: 0;
    }
  }

  .inline-komplettering-text {
    white-space: pre-line;
    word-break: break-all;
  }

  .inline-komplettering-heading {
    @extend %wc-typo-06;
  }
}
