$header-fix-top-expand-background-color: $wc-color-09;
$header-fix-top-btn-link-text-shadow-color: $black_30;
$header-fix-top-btn-link-color: $wc-color-00;
$header-fix-panel-box-shadow: $wc-color-08;
$header-fix-panel-border-bottom-color: $wc-color-22;
$header-fix-panel-background-color: $wc-color-00;
$header-fix-panel-popover-color: $wc-color-08;

//NOTE: the header-fix-top class is used also by scripts to determine scroll target positions etc, see ArendePanelFraga directive etc.
.header-fix-top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;

  h1.page-title {
    font-size: 18px;
  }
  .page-title {
    margin: 0 20px 0 0;
    line-height: 29px;
  }

  .backlink-icon {
    margin: 3px 5px 0 0;
  }

  &:hover.backlink-icon {
    text-decoration: none;
  }

  .header-fix-top-expand {
    position: relative;
    top: -20px;
    right: 0px;
  }

  .header-fix-top-expand-wrapper {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: $header-fix-top-expand-background-color;
    text-align: center;
    border-radius: 0 0 5px 5px;
    .btn-link {
      color: $header-fix-top-btn-link-color;
      text-shadow: 0 1px 1px $header-fix-top-btn-link-text-shadow-color;
      &:hover {
        color: $header-fix-top-btn-link-color;
        text-shadow: 0 1px 1px $header-fix-top-btn-link-text-shadow-color;
      }
    }
  }

  .utkast-header-right-group {
    padding: 0 0 10px 10px;
  }

  .utkast-header-person-id {
    display: inline-block;
    .control-label {
      font-size: 18px;
    }
  }

  .utkast-header-status {
    display: inline;
    line-height: 30px;
    span {
      color: $wc-color-09;
    }
  }

  .header-fix-panel {
    padding: 10px 30px 7px 30px;
    border-bottom: 1px solid $header-fix-panel-border-bottom-color;
    background-color: $header-fix-panel-background-color;
    box-shadow: 0 -5px 25px $header-fix-panel-box-shadow;
  }

  .header-fix-panel__title {
    display: inline-block;
    margin-right: 20px;
    padding: 0;
    min-width: 480px;
  }

  .header-fix-panel__title .popover {
    max-width: 450px;
  }

  .header-fix-panel__popover-content {
    font-size: 14px;
    line-height: 1.42857143;
    color: $header-fix-panel-popover-color;
    font-weight: normal;
  }

  .header-help-container {
    max-width: 500px;
  }

  .header-wrapper {
    /*  max-height: 110px; does commenting out this break anything? */
    //overflow: hidden;
  }

  %transition {
    transition: all 0.3s;
    position: relative;
    display: block !important;
  }

  .menucollapse {
    &.ng-hide-add {
      @extend %transition;
    }
    &.ng-hide-remove {
      @extend %transition;
    }
    &.ng-hide {
      margin-top: -100px;
    }
  }

  .intyg-error-panel {
    margin-top: 40px;
    margin-left: 40px;
    max-width: 800px;
    .alert-danger {
      border: 1px solid $wc-color-04;
    }
  }
}
