.modal {
  wc-bottom-fadeout {
    .bottom-fadeout-gradient {
      padding: 0 15px;
    }
  }
}

wc-bottom-fadeout {

  .bottom-fadeout-gradient {
    @extend %bottom-gradient;
  }

  wc-alert-message .alert {
    padding-bottom: 12px;
  }

  display: block;
  position: relative;

  .scrollable-body {
    overflow-y: auto;
    max-height: 50vh;
    position: relative;

    .modal-body {
      margin: 15px 15px $wc-text-fadeout-height;
      padding: 0;
      overflow-y: visible;
      max-height: none;
    }

    &:after {
      content: '';
      display: block;
      padding-bottom: $wc-text-fadeout-height;
    }
  }

  .wc-bottom-fadeout-background-02{
    background-color: $wc-color-02;
  }
}


