
wc-support-panel-scrollable-body {

  position: relative;
  display: flex;
  flex: 1;
  min-height: 1%; //without a min-height IE11/edge wont shrink flex-items

  .tab-content-scrollable-body {
    padding: 20px 20px 0 20px;
    flex: 1;
    overflow: auto;
    //Bottom padding hack since IE does not respect padding-bottom
    &::after {
      content: "";
      display: block;
      padding-bottom: 20px;
    }
  }

  //absolutely positioned element with a gradient background.
  //The pointer-events:none is important, otherwise elements such as button below this can't be clicked.
  .bottom-fadeout-gradient {
    @extend %bottom-gradient;

    padding: 0;
  }
}
