ue-year {

  @extend %field-set-disabled-ie11-fix;

  input.form-control {
    width: 4em;

    &:disabled, fieldset[disabled] & {
      background-color: $wc-color-20;
      color: $wc-color-09;
    }
  }
}
