//Style the about dialog
.wc-header-about-modal {

  .modal-header {
    h3 {
      @extend %wc-typo-05;
    }
  }

  .wc-about-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .panel {
    &.wc-about-panel {
      @extend %wc-typo-05;
      color: $wc-color-08;
      background-color: $wc-color-28;
      border: none !important;
      border-radius: 0;
      box-shadow: none;

      h4 {
        @extend %wc-typo-14;
        color: $wc-color-07;
      }

      > .panel-collapse > .panel-body {
        @extend %wc-typo-07;
        color: $wc-color-07;
        background-color: $wc-color-00;
        border: none !important;
        border-radius: 0;
        box-shadow: none;
        padding: 12px 9px;
      }

      > .panel-heading {
        padding: 7px 15px;
      }

      .panel-heading {
        + .panel-collapse > .panel-body,
        + .panel-collapse > .list-group {
          border: none;
        }

        .panel-title {
          @extend %wc-typo-05;

          a {
            text-decoration: none;
          }

        }

      }
    }

  }

  .category h2 {
    @extend %wc-typo-14;
    color: $wc-color-17;
  }


}


