ue-diagnos-kod {

  @extend %field-set-disabled-ie11-fix;

  display: flex;
  flex-direction: row;
  position: relative;

  .description-field {
    padding-left: 20px;
    min-width: 150px;
    flex: 1;

    input.form-control {
      max-width: 100%;
    }
  }

  .code-field {
    width: 112px;

    input.form-control {
      padding: 0 9px;
    }
  }

  .diagnos-loading {
    position: absolute;
    right: 9px;
    z-index: 10000;
    top: 10px;
  }

  .dropdown-menu {
    max-height: 350px;
    max-width: 100%;
    padding: 5px 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-color: $wc-color-21;
    right: 0;

    li {
      a {
        text-decoration: none;
      }

      .kod {
        vertical-align: top;
        white-space: pre-wrap;
        display: inline-block;
      }

      .beskrivning {
        width: 90%;
        white-space: pre-wrap;
        display: inline-block;
      }

      .disabled {
        padding: 3px 20px;
      }

      .typeahead_more {
        padding: 3px 7px;
        display: inline-block;
      }
    }
  }
}