uv-table {
  display: block;
  padding-top: 5px;

  .table {
    margin: 0;
  }

  .mobile-table-wrapper {
    .mobile-table {
      display: table;
      width: 100%;
    }

    > .mobile-table:nth-of-type(even) {
      background-color: $uv-intyg-table-bg;
    }

    > .mobile-table:nth-of-type(odd) {
      background-color: $uv-intyg-table-bg-accent;
    }

    .row {
      margin: 15px 0;
    }
  }
}
