wc-spinner {

  .ng-hide.ng-hide-animate {
    display: none !important;
  }

  .wc-spinner {
    @extend %wc-typo-07;
    text-align: center;
    padding: 20px;
    color: $wc-color-21;

    p {
      text-align: center;
      margin-top: 20px;
    }
  }

}
