wc-fraga-komplettering {

  display: block;

  &.komplettering-active {
    border: 1px solid $wc-color-05;
    border-radius: 4px;
  }

  wc-inline-komplettering .alert {
    margin: 14px 0 0 0;
  }

}
