ue-sjukskrivningar {

  wc-alert-message {
    .alert {
      margin: 10px 0;
    }
  }

  .hours-wrapper {
    margin: 1em 0;
    span i {
      padding-top: 10px;
    }
  }

  .hoursPerWeek {
    width: 32px !important;
  }

  label {
    font-weight: normal;
    width: auto;
    margin-bottom: 6px;
   
    input[type=checkbox].big-checkbox {
      margin-top: 5px;
    }
  }

  .ifyllnadsstod {
    i {
      margin-left: -4px;
    }
    color: $wc-color-21;
    &.period {
      padding-bottom: 18px;
    }
  }

  .sjukskrivningar_period label {
    margin-right: 9px;
  }
  .fold-slide-animation {
    padding-top: 10px;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .checkbox-width {
     width: 12em;
  }

  .padding-bottom {
    padding-bottom: 8px;
  }

  .date-width {
    width: 16em;
     padding-left: 23px;
  }

  .sjukskrivningar-section{
    margin-bottom: 12px;
    ue-validation-list{

      .validation-error{
        margin: 6.5px 0;
      }
    }
  }

  @media (max-width: 750px) {
   .hours-wrapper {
     span i {
       padding-top: 0;
     }
   }
  }

  @media (max-width: 990px) {
     .padding-right {
       padding-right: 8px;
     }
  }
}
