mi-compact-certificate-header {
  display: block;

  .mi-compact-certificate-header {
    background: $mi-intyg-header-bg;
    color: $mi-intyg-header-color;
    padding: 15px;
  }

  .mi-compact-certificate-header-replaced {
      background: $mi-intyg-header-disabled-color;
      color: $mi-intyg-header-color;
      padding: 15px;
  }
  .row-wrapper {
    display: flex;
    flex-direction: row;
  }

  .certificate-header-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 68%;
    width: 100%;
  }

  .certificate-issued-date {
    margin-right: 15px;
    width: 24%;
  }

  .icon {
    font-size: 42px;
    line-height: 42px;
    margin-left: 0;
  }

  .icon:before {
    margin-left: 0;
  }

  .cert-type-title {
    a {
      color: $mi-intyg-header-color;
      cursor: pointer;
    }
    h1 {
      margin: 0;
      padding-top: 3px;
    }
  }

  .complementary-info {
    float: left;
    p.small-header {
      margin: 5px 0 0 0;
    }
  }

  .certificate-issued-date {
    align-self: flex-end;
    text-align: right;
    margin-left: 28px;
    margin-right: 0;

    .date {
      white-space: nowrap;
    }
  }

  @media (max-width: 525px) {
    .certificate-issued-date {
      margin-left: 70%;
      width: auto;
    }
    .row-wrapper {
      flex-wrap: wrap;
    }

  }

}
