.komplettering-modal-dialog {

  .dialog-placement {
    &, .model-dialog {
      top: 22%;
    }
  }

  h4 {
    @extend %wc-typo-06;
  }

  wc-radio-wrapper {
    margin-bottom: 10px;
  }

  wc-alert-message, .alert {
    display: block;
  }

  .form-group {
    position: relative;
  }

  .required {
    top: 3px;
  }

  .form-group-indent {
    margin-left: 13px;
  }

  wc-button {
    display: inline-block;
    &+.btn {
      margin-left: 5px;
    }
  }

  .ovrigt-place-counter {
    text-align: right;
  }
}
