wc-radio-wrapper {

  display: inline-block;
  padding: 0 22px 0 0; //22px padding to the right to give space to next component if present

  > .wc-radio {

    label {
      @extend %wc-typo-07;
      display: inline-block;
      position: relative;
      padding: 0 0 0 6px; //space between checkbox and label as spec in zeplin
      margin-bottom: 0;
      cursor: pointer;
    }

    label::before, label::after {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
      padding: 0;
      margin-left: -20px;
      border-radius: 50%;
      cursor: pointer;
    }

    //determines background layer of visual checkbox
    label::before {
      content: "";

      border: 1px solid $wc-color-23;
      background-color: $wc-color-20;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.24);
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    //determines foreground layer of visual checkbox (and tick mark)
    label::after {
      font-size: 16px;
      text-align: center;
      border: none;
      background-color: $wc-color-21;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      color: #fff; //$wc-color-01 is pink - wrong spec?;
      text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    }

    input[type="radio"] {
      opacity: 0.01; //Important: 0.01 is not practically visible, but if we set it to 0, protractor won't find it..
      z-index: 1;

      margin: 0;
      position: relative;

      //place it at same coordinates as the labels :before/:after content
      top: 4px;
      left: 2px;
      width: 20px;
      height: 20px;
      cursor: pointer;

    }

    input[type="radio"]:focus + label::before {
      outline: thin dotted;
     // outline: 5px auto -webkit-focus-ring-color;
    }

    //The tick mark when checked
    input[type="radio"]:checked + label::after {
      //font-family: 'Glyphicons Halflings';
      content: "\25cf";
      line-height: normal;
    }
    input[type="radio"]:disabled {
      cursor: not-allowed;
    }
    input[type="radio"]:disabled + label {
      opacity: 0.65;
      cursor: not-allowed;
    }

    input[type="radio"]:disabled + label::before {
      background-color: #eeeeee;
      cursor: not-allowed;
    }

    &.radio-wc-default input[type="radio"]:checked + label::before {
      background-color: $wc-color-21;
    }
    //Positioning of the tick mark
    &.radio-wc-default input[type="radio"]:checked + label::after {

    }
  }
}
