arende-panel-svar {
  display: block;

  .arende-svar {
    padding: 0 20px 0;
  }

  textarea.form-control {
    height: 96px;
  }

  button.btn-success {
    margin-right: 10px;
  }

  .arende-draft-status {
    @extend %wc-typo-07;
    color: $wc-color-07;

    > span > i {
      font-size: 14px;
      color: $wc-color-10;
    }

    wc-alert-message .alert {
      @extend %wc-typo-09;
    }
  }

  .kompletterad .card {
    padding: 20px 20px 0 !important;
  }
}