ue-vague-date {
    .month {
      .required {
        left: -2px;
      }
        padding: 0 10px;
    }
    .year, .month {
      position: relative;
        width: 140px;
    }
    .day {
        width: 40px;
        position: relative;
        .form-control[disabled] {
            border: 1px solid $wc-color-23;
            background-color: $wc-color-20;
            color: $wc-color-23;
            box-shadow: none;
            height: 40px;
            text-align: center;
        }
    }
}
