wc-arende-komplettera-meddelande-confirmation {

  .card {
    padding: 20px 20px 0 !important;
  }

  wc-alert-message {
    display: block;
  }

  .alert {
    margin: 0;
    display: flex;
    flex: 1;
  }
}
