ue-year-picker {

  @extend %field-set-disabled-ie11-fix;
  .wc-datepicker-wrapper {
    width: 90px;
  }
  input.form-control {

    &:disabled, fieldset[disabled] & {
      background-color: $wc-color-20;
      color: $wc-color-09;
      cursor: not-allowed;
    }
  }
}

.ue-year-picker-popup-wrapper {
  .uib-datepicker-popup.dropdown-menu {

    .btn-default {

      border-color: $wc-color-15;

      &:disabled, fieldset[disabled] & {
        background-color: $wc-color-20;
        color: $wc-color-09;
      }
      &.active {
        .text-info {
          color: $wc-color-20;
        }
      }


     //.text-info is set on current year
      span.text-info {
        color: $wc-color-17;
      }
    }

    .btn {
      padding: 6px 5px;
    }
    .border {
      border: $wc-color-21 !important;
      box-shadow: 2px 2px 4px 0 $black_12;
    }

    thead button.btn {


      &.btn-default, &:hover {
        border: none;
        background-color: transparent;
        color: $wc-color-07;
        box-shadow: none;
      }
      &.btn-default, &:hover {
        border: none;
        background-color: transparent;
        color: $wc-color-07;
        box-shadow: none;

        &.uib-left, &.uib-right {

          padding: 1px;
          margin: -5px -13px 0;
          border-radius: 4px;
          width: 40px;
          height: 40px;

          &:hover {
            background-color: #e9eaed;
            border-color: #e9eaed;
            color: $wc-color-17;
            cursor: pointer;
          }

        }
      }
      &.uib-title {
        @extend %wc-typo-02;
        color: $wc-color-07
      }
    }


    td {
      padding: 1px 1px 2px 2px;

      &.current-year .btn-default {
        border-color: $wc-color-21;
      }
    }

    .text-invalid, INPUT.ng-invalid-min-date, INPUT.ng-invalid-max-date, INPUT.ng-invalid-date {
      border-color: $wc-color-11;
      & + SPAN.input-group-btn {
        button {
          border-right-color: $wc-color-11;
          border-top-color: $wc-color-11;
          border-bottom-color: $wc-color-11;
        }
      }
    }
  }
}
