.intyg-block-single__content {
  background-color: $mercury;
  border: 1px solid $color_iron_approx;
  padding: 12px 14px 12px 14px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}