.wc-app-header-wrapper {
  background-color: $wc-color-17;
}
.wc-main-menu-wrapper {
  //TODO: update when menu design has been specified
  background-color: $wc-color-20;
}





.wc-header-TOBEREMOVED {

  //TODO: Define & use styleguide color values in parent components/_variables.scss file instead of these local variables?

  /* Color variables */
  $header-color: $wc-color-00;
  $header-background-color: $wc-color-19;
  $header-anchor-color: $wc-color-10;
  $headerbox-logo-border-color: $wc-color-09;
  $navbar-border-top-color: $wc-color-22;
  $navbar-border-bottom-color: $wc-color-15;
  $nav-border-color: $wc-color-15;
  $navbar-collapse-border-left-color: $wc-color-13;
  $stat-circle-background-color: $wc-color-22;
  $stat-circle-color: $wc-color-00;
  $stat-circle-active-color: $wc-color-00;
  $stat-circle-active-background-color: $wc-color-11;
  $stat-circle-active-border-color: $wc-color-11;

  /* Urls variables */
  $url-avatar: url('/img/avatar.png');

  /*Override of bootstrap navbar styling */

  %navbar-background {
    background: $color_eastern_blue_approx !important;
    color: $white !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important;
    filter: none;
  }

  .navbar-default .navbar-nav {
    >.active>a {
      @extend %navbar-background;
      &:hover {
        @extend %navbar-background;
      }
      &:focus {
        @extend %navbar-background;
      }
    }
    >li>a {
      &:hover {
        @extend %navbar-background;
      }
      &:focus {
        @extend %navbar-background;
      }
    }
  }

  #inactiveWarning{
    font-style: italic;
  }

  .header {
    background-color: $header-background-color;
    padding: 5px 0 15px; /* don't change this setup. it's needed for IE8 flow on smaller screens to work */
    color: $header-color;

    a {
      color: $header-anchor-color;
      font-size: 13px;
      line-height: 14px;
    }

    .headerbox {
      padding: 0;
    }

    span {
      &.headerbox-logo {
        padding: 3px 20px 0 30px;
        border-right: 1px solid $headerbox-logo-border-color;
        display: block;
        margin-top: 10px;
      }
      &.headerbox-date {
        padding: 10px 0 0 20px;
        line-height: 17px;
        display: block;
      }
    }

    div {
      &.headerbox-user {
        font-size: 13px;
        line-height: 16px;
        padding: 10px 30px 0 0;
      }
      &.headerbox-avatar {
        padding-right: 30px;
        background: $url-avatar no-repeat 100% 50%;
        height: 34px;
      }
      &.headerbox-user-profile {
        display: inline-block;
        padding-right: 44px;
        font-size: 13px;
        line-height: 18px;
        text-align: left;
      }
    }

    .otherLocations {
      font-size: 12px;
    }

    span.location {
      font-size: 14px;
      font-weight: bold;
    }

    .single-location {
      line-height: 33px;
    }
  }

  .navbar {
    margin: 0;
    min-height: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    border-top: 1px solid $navbar-border-top-color;
    border-bottom: 1px solid $navbar-border-bottom-color;
    .divider-vertical {
      margin: 0;
    }
    .nav {
      margin: 0;
      white-space: nowrap;
      > li {
        border-right: 1px solid $nav-border-color;
        /*  display: inline-block; */
        /* Uncomment to lock menu items to one row (during 800x600 demos buttons won't be accessible otherwise) float: none;*/
        position: relative;
        &:first-child {
          border-left: 1px solid $nav-border-color;
        }
        > a {
          padding: 8px 20px 8px;
        }
      }
    }
  }

  .navbar-collapse.in .nav > li {
    border-left: 1px solid $navbar-collapse-border-left-color;
    margin-right: 15px;
    margin-left: 15px;
  }

  .badge__stat {
    background-color: $stat-circle-active-background-color;
    border-color: $stat-circle-active-border-color;
    color: $stat-circle-active-color;
  }

  .stat-circle {
    background-color: $stat-circle-background-color;
    border-radius: 50%;
    color: $stat-circle-color;
    padding: 0 6px 0 6px;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: -4px;
    top: -4px;
    text-shadow: none;
    z-index: 1000;
  }

  .stat-circle-active {
    background-color: $stat-circle-active-background-color;
    border-color: $stat-circle-active-border-color;
    color: $stat-circle-active-color;
  }

  .glyph-background {
    position:relative;
    border-radius:50%;
    color:$wc-color-04;
    z-index:2;
  }

  .inner {
    position:absolute;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
    border-radius:50%;
    background-color:$wc-color-00;
    z-index:-1;
  }
}
