@import '../wcAppHeader.variables.scss';

//local variables
$wc-header-unit-min-width: 150px;

wc-header-unit {
  //default is to act as a non-growing, shrinkable flex-item
  flex: 0 1 auto;
  @media (max-width: $wc-header-collapse-breakpoint-width) {
    //but in compact mode, let it grow
    flex-grow: 1;
  }


  //flex items must a some sort of width applied for it to be able to shrink
  //NOTE: when using min-width:0px (no unit), scss processing optimised it by
  // removing the unit, casuing rendering errorss in IE that doesnt handle unitless min-widths in flex context. took me 6 hours to find that ugh!
  min-width: $wc-header-unit-min-width;

  // but NOT a flex-container, bacause we want to be able to relativly position the menu below it when it expands..
  display: block;

  //base text color for this component
  color: $wc-color-20;

  .vg-name {
    @extend %wc-typo-06;
  }

  .ve-name {
    @extend %wc-typo-07;
  }

  .status-row {
    @extend %wc-typo-07;
    color: $wc-color-03;
  }

}
