
//how wide should effective content on page grow to before add spacing to sides
$wc-max-content-width: 1440px;

// bottom gradient height
$wc-text-fadeout-height: 30px;

//colors
$wc-color-07: #212121;
$wc-color-08: #3C3C3C;
$wc-color-09: #6A6A6A;
$wc-color-22: #9A9A9A;
$wc-color-23: #A9B2BD;
$wc-color-15: #CDCED6;
$wc-color-27: #D7D7DD;
$wc-color-13: #E1E1E1;
$wc-color-28: #E9EAED;
$wc-color-20: #F2F2F2;
$wc-color-24: #F5F6F7;
$wc-color-00: #FFFFFF;

$wc-color-01: #F8BFC5;
$wc-color-04: #9A303B;
$wc-color-11: #DA4453;

$wc-color-30: #355547;
$wc-color-16: #4C7B67;
$wc-color-10: #37BC9B;
$wc-color-29: #99E5D2;

$wc-color-05: #765A20;
$wc-color-12: #F6BB42;
$wc-color-18: #FFC794;
$wc-color-02: #FFEBBA;

$wc-color-19: #292F4F;
$wc-color-17: #3D4260;
$wc-color-06: #003C75;
$wc-color-26: #4B566F;
$wc-color-14: #70748A;

$wc-color-21: #496CEC;
$wc-color-25: #8AA7F5;
$wc-color-03: #B3E5FC;

//shadows
$black_12: rgba(0, 0, 0, 0.12);
$black_20: rgba(0, 0, 0, 0.2);
$black_75: rgba(0, 0, 0, 0.75);
$black_30: rgba(0, 0, 0, 0.3);
$black_24: rgba(0, 0, 0, 00.24);

//urls
$url_0: url(/img/tillbaka.png);
$url_1: url(/img/tillbaka_hoover.png);
$url-back-link-icon: url('/img/back-link-icon.gif');
$url-settings-icon: url('/img/settings_ikon.png');
$url-settings-hoover: url('/img/settings_hoover.png');
$url-col-shadow: url('/img/col-shadow.png');

$intyg-signed-card-header-padding: 18px 30px 10px 30px;
$intyg-signed-card-body-padding: 14px 30px 14px 30px;
$intyg-signed-card-h3-padding: 9px 0 6px;
