wc-intyg-button-bar {
  padding-left: 60px;

  .dropdown-menu {
    border: 1px solid $wc-color-21;
    padding: 0;

    >li>a {
      background: none;
      padding: 8px 10px;
      text-decoration: none;
    }

    >li>a:hover {
      background-color: $wc-color-21;
      color: $wc-color-00;
    }
  }

  .btn[disabled] {
    pointer-events: none;
  }
  .button-tooltip {
    display: inline-block;
    .disabled {
      cursor: not-allowed;
    }
  }
  div.white-space-no-wrap {
    display: flex;
    > button,
    > div {
      margin-left: 9px;
    }
  }
}
