.latest-events-modal {
  .nrofstatusesshown {
    font-weight: normal;
    font-size: 14px;
  }

  .modal-event-row {
    padding: 0.9em;
  }

  .modal-event-timestamp {
    font-weight: bold;
  }

  .modal-event-text {
    padding-left: 1em;
    padding-right: 2em;
  }

  .stripe-dark {
    background-color: #D9E2E6;
  }

  .modal-event-rows {
    max-height: 50vh;
    overflow-y: auto;
  }

  .modal-dialog {
    display: table;
    max-width: 95vw;
    min-width: 300px;
    overflow: auto;
    position: relative;
    width: auto;
  }
}
