$wc-header-user-max-width: 400px;

wc-header-user {
  // should shrink a litte more aggressivly than the wc-unit
  flex: 2 1 auto;
  min-width: 160px;
  max-width: $wc-header-user-max-width;
  height: 100%;

  //base text color for this component
  color: $wc-color-20;

  .user-name {
    font-weight: bold;
  }

  .glyphicon.sekretess-markering {
    color: $wc-color-18;
  }

  a.sekretess-markering {
    color: $wc-color-18;
    font-weight: bold;
  }

}
