@import '../wcAppHeader.variables.scss';

//local variables
$wc-header-user-min-width: 120px;

wc-header-user {
  //default for this directive is to act as a non-growing, (aggressivly) shrinkable flex-item
  flex: 0 3 auto;
  @media (max-width: $wc-header-collapse-breakpoint-width) {
    //but in compact mode, let it grow
    flex-grow: 1;
  }

  //base text color for this component
  color: $wc-color-20;

  #wc-header-user-name {
    @extend %wc-typo-06;
    color: $wc-color-20;
  }

  #wc-header-user-role {
    @extend %wc-typo-07;
    color: $wc-color-20;
  }

  .header-icon {
    padding-right: 8px;

    &.sekretess-markering {
      color: $wc-color-18;
    }
  }

  a.sekretess-markering {
    @extend %wc-typo-08;
    color: $wc-color-18;

  }

}
