.fold-slide-fade-animation {
  overflow: hidden;
  margin-left: 0px;
  opacity: 1;
}

.fold-slide-fade-animation-hidden {
  overflow: hidden;
  margin-left: -5px;
  padding: 0;
  opacity: 0;
  height: 0;
}

.fold-animation {
  overflow: hidden;
  &.ng-enter-prepare {
    height: 0px;
  }
}

.slide-fade-animation {
  margin-left: 0px;
  opacity: 1;
}

.slide-fade-animation-hidden {
  margin-left: -5px;
  opacity: 0;
}