.utkast-footer {
  margin-bottom: 50px;


  .admin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-wc-ikon-30:before {
    margin-left: 0;
    vertical-align: middle;
  } 
}
