.utkast-footer {
  margin-bottom: 50px;
  float: left;
  width: 100%;

  wc-utkast-footer-sign {
    display: block;
    margin-right: 25px;
    margin-bottom: 25px;
    float: left;
  }

  .admin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-wc-ikon-30:before {
    margin-left: 0;
    vertical-align: middle;
  }

  .intygs-id {
    @extend %wc-typo-09;
    color: $wc-color-07;
    text-align: right;
    float: right;
  }
}
