.utkast-footer {
  margin-bottom: 50px;

  display: flex;
  flex-wrap: wrap;

  wc-utkast-footer-sign {
    margin-right: 25px;
  }

  .vardadmin-footer {
    flex: 1 1 100%;
  }

  .admin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-wc-ikon-30:before {
    margin-left: 0;
    vertical-align: middle;
  }

  .intygs-id {
    @extend %wc-typo-09;
    color: $wc-color-07;
    flex: 1 1 0;
    text-align: right;
  }
}
