$mi-spinner-color: #0F6EDC;
$mi-body-bg: #f3f4f6;
$mi-intyg-body-bg: #fff;
$mi-box-shadow-color: #ddd;
$mi-intyg-header-bg: #43799A;
$mi-intyg-header-color: #fff;

// overrides variables from app-shared to match style of unified-view components with minaintyg

$uv-body-bg: $mi-body-bg;
$uv-spinner-color: $mi-spinner-color;
$uv-intyg-body-bg: $mi-intyg-body-bg;
$uv-box-shadow-color: $mi-box-shadow-color;
$uv-intyg-header-bg: $mi-intyg-header-bg;
$uv-intyg-header-color: $mi-intyg-header-color;
