service-banner {
  .text-container {

    padding-left: 47px;

    .alert-icon .material-icons {
      left: 15px;
    }

    @media (min-width: $screen-sm-min) {
      width: 750px;
    }

    @media (min-width: $screen-md-min) {
      width: 970px;
    }

    @media (min-width: $screen-lg-min) {
      width: 1170px;
    }
  }
}
