wc-help-tips-panel-tab {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 1%; //without a min-height IE11/edge wont shrink flex-items

  .module-title {
    @extend %wc-typo-05;
    color: $wc-color-07;
  }

  .module-issuer-type-id {
    @extend %wc-typo-07;
    color: $wc-color-09;
    white-space: nowrap;
    padding-left: 10px;
  }

  .module-description {
    @extend %wc-typo-07;
    color: $wc-color-07;
    padding-top: 14px;
    white-space: pre-line;

    &.preformat {
      white-space: pre-line;
    }
  }

  .intyg-school-footer {
    padding: 20px;
    border-top: 1px solid $wc-color-15;
  }
}
