$wc-header-unit-max-width: 520px;

wc-header-unit {
  // should shink normally more agresssively
  flex: 2 1 auto;
  min-width: 0;
  max-width: $wc-header-unit-max-width;
  height: 100%;
  //base text color for this component
  color: $wc-color-20;

  .vg-name {
    font-weight: bold;
  }

}
