wc-arende-footer {
  .tab-footer {
    background-color: $wc-color-15;
    color: $wc-color-00;
    padding: 12px 14px;
    display: flex;
    flex-direction: row;

    .footer__komplettera {
      display: flex;
      flex: 1;

      div {
        display: flex;
      }

      .margin-right {
        margin-right: 5px;
      }
    }
  }
}
