ue-dodsorsak-row {

  @extend %field-set-disabled-ie11-fix;

  display: block;

  .label-padding {
    display: inline-block;
    padding: 5px 0 10px 0;
  }

  input.form-control {
    height: 38px;
    border: 1px solid $wc-color-15;
    border-radius: 4px;
    transition: border-color .36s ease-in-out, box-shadow .36s ease-in-out;
  }
  input.form-control:focus {
    outline: none !important;
    border: 1px solid $wc-color-21;
    box-shadow: 2px 2px 4px 0 $black_12;
  }

  padding-top: 20px;

  .dodsorsak-row__controls {
    padding-left: 30px;
    position: relative;
    .required {
      left: 18px;
    }
  }

  .dodsorsak-row__letter {
    font-size: 30px;
    color: $wc-color-22;
    position: absolute;
    top: 0;
    left: 0;
  }

  INPUT.validation-error, wc-dropdown.validation-error .dropdown-label {
    border: 1px solid $wc-color-11;
  }
}
