.dodsorsak-multi {

  @extend %field-set-disabled-ie11-fix;

  .label-padding {
    display: inline-block;
    padding: 10px 0;
  }
  table {
    width: 100%;
  }
  th {
    font-weight: normal;
    vertical-align: bottom;
  }

  td {
    padding-right: 4px;
    padding-bottom: 10px;
    &.dodsorsak-validation .validation-error {
      margin-top: 0;
    }
  }

  .description-width {
    width: 60%;
  }

  .btn.red {
    color: $wc-color-11;
  }
  .btn.red:hover {
    color: $wc-color-00;
  }
  .dropdown-row {
    min-width: 139px;
  }

  INPUT.validation-error, wc-dropdown.validation-error .dropdown-label {
    border: 1px solid $wc-color-11;
  }
}
