/*
All styles specific to a certificate should must be wrapped in a namespace rule that is assigned a root element in it's edit/view intyg templates.
This is to avoid leaking module specific style rules outside of it's intended context i.e globally.
*/
.fk7263-ns {
  //urls
  $socialstyrelsen-background-image: url('../img/ss16.png');
  $color_tapa_approx: #777;

  .soclink {
    background-image: $socialstyrelsen-background-image;
    background-repeat: no-repeat;
    padding: 0 0 3px 25px;
    display: inline-block;
  }

  .intyg-body {
    .alert {
      ul {
        padding-left: 20px;
      }
    }
  }

  .qa-block-body {
    white-space: normal;

    &.komplettera-block {
      div {
        span {
          white-space: pre-line;
        }
      }
    }
  }

  .form8b-percentage-group {
    .checkbox {
      margin-bottom: 0;
      padding-top: 7px;
    }
    .alert-info {
      margin-top: 3px;
      margin-bottom: 10px;
    }
    .validation {
      margin-top: 3px;
      margin-bottom: 10px;
    }
  }

  .diagnos-row {
    position: relative;
  }

  .form15 {
    .form-horizontal {
      .form-group {
        padding-top: 10px;
      }
    }
  }

  .edit-form {
    textarea#currentWork.form-control {
      padding: 2px 4px;
      overflow-y: hidden;
      resize: none;
      width: 100%;
    }
  }

  @media (min-width: 1340px) {
    textarea#currentWork.form-control {
      max-width: 682px;
    }
  }

  .certificate--lg {
    max-width: 1600px;
  }

  .info-transfer {
    font-size: 12px;
    color: $color_tapa_approx;
  }
}

@import "../../app-shared/directives/fkList/fkList.directive";
@import "../../app-shared/directives/fkUvBooleanValue/fkUvBooleanValue.directive";
@import "../../app-shared/directives/fkUvTable/fkUvTable.directive";

fk7263-list {
  ul {
    padding-left: 16px;
  }
}

