.wc-datepicker-wrapper {

  input.form-control {
    height: 38px;
    border: 1px solid $wc-color-15;
    border-radius: 4px;
    transition: border-color .36s ease-in-out, box-shadow .36s ease-in-out;
    z-index: 1;

    &.focus {
      outline: none !important;
      border: 1px solid $wc-color-21;
      //box-shadow: 0 4px 2px -2px $black_12;
      box-shadow: 0 2px 4px 0 $black_12;
    }

    &:disabled, fieldset[disabled] & {
      background-color: $wc-color-20;
      color: $wc-color-09;
      pointer-events: none; /* this is a workaround for fieldset[disabled] not working correctly in IE11 */
    }
  }

  /* this is a workaround for fieldset[disabled] not working correctly in IE11 */
  fieldset[disabled] & {
    cursor: not-allowed;
  }

  .btn-default {
    border-color: $wc-color-15;

    &:disabled, fieldset[disabled] & {
      background-color: $wc-color-20;
      color: $wc-color-09;
    }
  }

  .btn {
    padding: 6px 5px;
  }

  .border {
    border-color: $wc-color-21 !important;
    box-shadow: 2px 2px 4px 0 $black_12;
  }

  .text-invalid, INPUT.ng-invalid-dateperiod, INPUT.ng-invalid-min-date, INPUT.ng-invalid-max-date, INPUT.ng-invalid-date {
    border-color: $wc-color-11;

    & + SPAN.input-group-btn {
      button {
        border-right-color: $wc-color-11;
        border-top-color: $wc-color-11;
        border-bottom-color: $wc-color-11;
      }
    }
  }

}


/*
 *  Detta (=nedanför) bör kunna tas bort när WC-6.0 görs
 */

.uib-datepicker-popup.dropdown-menu {
  z-index: 1020;
  border-color: transparent;
  padding: 5px 13px 7px;

  table {
    outline: none;
  }

  thead {
    .uib-left, .uib-right {
      padding: 1px;
      margin: -5px -13px 0;
      border-radius: 4px;
      width: 40px;

      &:hover {
        background-color: #e9eaed;
        border-color: #e9eaed;
        color: $wc-color-17;
        cursor: pointer;
      }
    }

    .weekday {
      font-size: 14px;
      font-weight: bold;
    }

    .month-title {
      strong {
        font-size: 18px;
      }
    }
  }

  td {
    &:first-child {
      width: 30px;
      padding: 3px 13px 2px 3px
    }

    padding: 1px 1px 2px 2px;

    &.uib-day .btn-default {
      border-color: $wc-color-13;
      width: 40px;
      height: 40px;
    }

    &.current-day .btn-default {
      border-color: $wc-color-21;
    }

    .active {
      @extend %wc-typo-06;
      box-shadow: none;
    }

    .btn-default:hover {
      background-color: $wc-color-25;
      color: $wc-color-17;
      border-color: $wc-color-13;
    }

    &.text-muted .btn {
      background-color: $wc-color-20;
    }

    .btn[disabled], .btn.disabled {
      opacity: 1;
      color: $wc-color-22;
    }
  }

  table:focus .active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .24);
  }

  .uib-button-bar {
    padding: 10px 0 2px;

    .uib-clear {
      border-color: $wc-color-17;
      margin-right: 4px;
    }
  }
}
