.intyg-send {

  .lisjp-observandum {
    display: flex;
    flex-direction: row;
    background-color: $wc-color-02;
    padding: 3px;
  }

  .lisjp-observandum-text {
    padding: 2px;
  }

  .button-wrapper {
    display: flex;
    flex-direction: row;

      wc-button {
        padding: 0 10px 0 0;
      }
  }
 }
