.intyg-send {


 /* .modal-body {
    margin-bottom: 42px;
  }*/
  .lisjp-observandum {
    display: flex;
    flex-direction: row;
    background-color: $wc-color-02;
    padding: 3px;

  }
  .lisjp-observandum-text {
    padding: 2px;
  }
 }
