.intyg-makulera {

  .button-wrapper {
    display: flex;
    flex-direction: row;

    wc-button {
      padding: 0 10px 0 0;
    }
  }

  .form-group {
    position: relative;
  }

  .required {
    top: 3px;
  }
}