wc-arende-no-kompletteringar-message {
  display: flex;
  background-color: $wc-color-00;
  flex-direction: column;
  padding: 40px;
  align-items: center;

  div {
    margin: auto;

    img {
       margin: 20px;
    }
  }
}
