ue-diagnos-ar {

  @extend %field-set-disabled-ie11-fix;

  .diagnos-wrapper {

    input.validation-error {
      border-color: $wc-color-11;
    }

    .diagnos-header {
      display: flex;
      flex-direction: row;
      padding-top: 20px;

      .diagnos-text {
        color: $wc-color-09;
      }

      .diagnosartal-text {
        color: $wc-color-09;
        flex: 1;
        text-align: right;
      }
    }

    .diagnos-row {
      padding-bottom: 15px;
      flex-wrap: wrap;

      &:last-of-type {
        padding-bottom: 0;
      }

      .diagnos-column {
        flex: 1;
      }

      .diagnos-year-column {
        padding-left: 20px;

        .ue-del-fraga {
          padding: 0px;
        }
      }

      ue-validation-list {
        width: 100%;
        flex-grow: 1;
        margin-top: 6.5px;

        .validation-error {
          margin-top: 6.5px;
        }
      }
    }
  }
}