wc-patient-status {
  .wc-patient-status-container, div, wc-alert-message {
    display: flex;
    flex-wrap: wrap;
  }
  wc-alert-message .alert {
    margin: 10px 0 0 0;
    white-space: nowrap;
    .multiline {
      white-space: nowrap;
    }
  }
}