wc-srs-panel-tab {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 1%; //without a min-height IE11/edge wont shrink flex-items

  /* We need to override the padding of the default webcert scollable panel to be able to have the
     thick-divider below span the entire width
     We also override the bottom padding.
     */
  wc-support-panel-scrollable-body .tab-content-scrollable-body {
    padding: 20px 0px 0 0px;
  }

  /* Reset the default webcert padding on the panel content */
  .srs-panel-body-content {
    padding: 0px 20px 0 20px;
  }

  .line{
    float:left;
    margin-left: 5px;
    display: block;
  }

  .floatLeft {
    float:left;
  }

  .floatRight {
    float:right;
  }

  .fullWidth {
    width: 100%;
  }

  hr.srs-thick-divider {
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #E8E8E8;
    background-color: #F1F1F1;
    height: 13px;
  }

  .srs-diagnos-row {
    min-width: 1px;
    display: flex;
    flex-direction: column;
    padding: 11px 20px;

    &.has-diagnose {
      border-bottom: 1px solid $wc-color-15;
    }

  }

  .risk-header-line {
    display: block;
  }


  #statistik {

  }

  #atgarder {

    .srsRecommendation {
      margin-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;

      .collapser {
        display: block;
        text-decoration: underline;
        font-family: Roboto, helvetica, arial, sans-serif;
        cursor: pointer;
      }

      .recommendation-line {
        margin-left: 5px;
        display: block;
      }

      .srsRecommendationTitle {
        display: list-item;
        list-style-type: disc;
        list-style-position: outside;
        padding-bottom: 10px;
        padding-right: 8px;
        width: 77%;
      }

      .srsRecommendationText {
        color: #777;
        padding-bottom: 20px;
      }
    }

    .srs-recommendation-list-collapser, .srs-observe-list-collapser {
      text-decoration: underline;
      font-family: Roboto, helvetica, arial, sans-serif;
      text-align: center;
      overflow: auto;
      cursor: pointer;
      width: 100%;
    }
  }

  .riskHeader {
    display: block;
  }

  .srs-more-information-section {
    padding: 25px 20px 25px 20px;
    margin-top: 30px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -25px;
    background-color: $wc-color-28;
    word-wrap: break-word;
    h4 {
      @extend %wc-typo-05;
      padding: 8px 0;
    }
    div {
      @extend %wc-typo-07;
    }
    section {
      @extend %wc-typo-07;
    }
    .missing-info {
      @extend %wc-typo-12;
    }
  }

  .srs-footer {
    @extend %wc-typo-09;
    height: 50px;
    background-color: $wc-color-17;
    color: $wc-color-00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .material-icons {
      font-size: inherit;
    }

  }

  wc-alert-message {
    display: block;
    .alert {
      display: block;
    }
  }
  .no-diagnose-entered {
    text-align: center;
    padding-top: 25px;
    img {
      padding-bottom: 24px;
    }
  }
}
