wc-srs-risk-diagram {

  .risk-header-line {
  }

  .wc-srs-risk-diagram-widget {
    .risk-widget-title {
      font-weight: bold;
    }

    .risk-widget-header-header {
      .risk-header-line {
      }
    }

    .risk-widget-content > .chart-container {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .risk-widget-textual > ul > li {
      padding-bottom: 10px;
    }


  }
}