wc-srs-panel-tab {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 1%; //without a min-height IE11/edge wont shrink flex-items

  /* We need to override the padding of the default webcert scollable panel to be able to have the
     thick-divider below span the entire width
     We also override the bottom padding.
     */
  wc-support-panel-scrollable-body .tab-content-scrollable-body {
    padding: 20px 0px 0 0px;
  }

  /* Reset the default webcert padding on the panel content */
  .srs-panel-body-content {
    padding: 0px 20px 0 20px;
  }

  .line{
    float:left;
    margin-left: 5px;
    display: block;
  }

  .floatLeft {
    float:left;
  }

  .floatRight {
    float:right;
  }

  .fullWidth {
    width: 100%;
  }

  hr.srs-thick-divider {
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: $wc-color-24;
    border-bottom-color: $wc-color-13;
    background-color: $wc-color-28;
    height: 13px;
  }

  .srs-diagnos-row {
    min-width: 1px;
    display: flex;
    flex-direction: column;
    padding: 11px 20px;

    &.has-diagnose {
      border-bottom: 1px solid $wc-color-15;
    }

  }

  .risk-header-line {
    display: block;
  }

  .srs-option-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
    -ms-grid-rows: 1fr 1fr;
    margin-left: 5px;
  }

  .srs-option-grid-ms1row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
    -ms-grid-rows: unset;
    margin-left: 5px;

  }

  // Special construct since IE don't support automatic wrapping in grids
  .srs-option-grid-cell:nth-child(n+1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .srs-option-grid-cell:nth-child(n+2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
  }
  .srs-option-grid-cell:nth-child(n+3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }
  .srs-option-grid-cell:nth-child(n+4) {
    -ms-grid-column: 4;
    -ms-grid-row: 1;
  }
  .srs-option-grid-cell:nth-child(n+5) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .srs-option-grid-cell:nth-child(n+6) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
  .srs-option-grid-cell:nth-child(n+7) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
  }
  .srs-option-grid-cell:nth-child(n+8) {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
  }

  // Special construct since IE don't support automatic wrapping in grids
  @media (max-width: 1200px) {
    .srs-option-grid {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 1fr;
    }
    .srs-option-grid-ms1row {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr;
      -ms-grid-rows: unset;
    }

    .srs-option-grid-cell:nth-child(n+1) {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }
    .srs-option-grid-cell:nth-child(n+2) {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
    }
    .srs-option-grid-cell:nth-child(n+3) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
    .srs-option-grid-cell:nth-child(n+4) {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }
    .srs-option-grid-cell:nth-child(n+5) {
      -ms-grid-column: 1;
      -ms-grid-row: 3;
    }
    .srs-option-grid-cell:nth-child(n+6) {
      -ms-grid-column: 2;
      -ms-grid-row: 3;
    }
    .srs-option-grid-cell:nth-child(n+7) {
      -ms-grid-column: 1;
      -ms-grid-row: 4;
    }
    .srs-option-grid-cell:nth-child(n+8) {
      -ms-grid-column: 2;
      -ms-grid-row: 4;
    }

  }

  .srs-question-answers {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .srs-question-answer {
  }


  // Internal tab
  ul.nav.nav-tabs > li.rounded > a {
    background-color: $wc-color-00 !important; // Need to use important because somebody used important on the wc-common.css
    border-color: $wc-color-00;
    border-radius: 16px;
    color: $wc-color-19 !important;// Need to use important because somebody used important on the wc-common.css
    text-decoration: none;
  }

  ul.nav.nav-tabs > li.rounded > a:hover {
    border-color: $wc-color-21;
    color: $wc-color-19 !important;// Need to use important because somebody used important on the wc-common.css
  }

  ul.nav.nav-tabs > li.rounded.active > a {
    background-color: $wc-color-21 !important; // Need to use important because somebody used important on the wc-common.css
    border-color: $wc-color-21;
    color: $wc-color-00 !important;// Need to use important because somebody used important on the wc-common.css
  }

  #srs-result .tab-pane {
    padding-top: 20px;
  }

  wc-srs-recommendation-list {
    margin-bottom: 10px;

    .srsRecommendation {
      margin-left: 15px;
      margin-top: 10px;
      margin-bottom: 10px;

      .clearfix {
        clear: both;
      }

      .collapser {
        text-decoration: underline;
        font-family: Roboto, helvetica, arial, sans-serif;
        cursor: pointer;
      }

      .recommendation-line {
        margin-left: 5px;
      }

      .srsRecommendationTitle {
        display: list-item;
        list-style-type: disc;
        list-style-position: outside;
        padding-bottom: 10px;
        padding-right: 8px;
        width: 77%;
      }

      .srsRecommendationText {
        color: $wc-color-09;
      }
    }

    .srs-recommendation-list-collapser {
      text-decoration: underline;
      font-family: Roboto, helvetica, arial, sans-serif;
      padding-bottom: 10px;
      text-align: center;
      cursor: pointer;
      width: 100%;
    }
  }

  .riskHeader {
    display: block;
  }

  .srs-more-information-section {
    padding: 25px 20px 25px 20px;
    margin-top: 30px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -25px;
    background-color: $wc-color-28;
    word-wrap: break-word;
    h4 {
      @extend %wc-typo-05;
      padding: 8px 0;
    }
    div {
      @extend %wc-typo-07;
    }
    section {
      @extend %wc-typo-07;
    }
    .missing-info {
      @extend %wc-typo-12;
    }
  }

  .srs-footer {
    @extend %wc-typo-09;
    height: 50px;
    background-color: $wc-color-17;
    color: $wc-color-00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .material-icons {
      font-size: inherit;
    }

  }

  wc-alert-message {
    display: block;
    .alert {
      display: block;
    }
  }
  .no-diagnose-entered {
    text-align: center;
    padding-top: 25px;
    img {
      padding-bottom: 24px;
    }
  }
}
