ue-address-text-area {

  textarea.form-control {
    min-height: 38px;
    overflow-y: hidden;
    padding-top: 8px;
    padding-bottom: 11px;

    &.textarea-full-width {
      width: 100%;
      max-width: 100%;
    }
    &.textarea-40-width {
      width: 330px;
      max-width: 100%;
    }
    &.textarea-50-width {
      width: 410px;
      max-width: 100%;
    }
    &.textarea-53-width {
      width: 440px;
      max-width: 100%;
    }

    &:disabled, fieldset[disabled] & {
      background-color: $wc-color-20;
      color: $wc-color-09;
      pointer-events: none; /* this is a workaround for fieldset[disabled] not working correctly in IE11 */
    }
  }

  /* this wrapper is a workaround for fieldset[disabled] not working correctly in IE11 */
  fieldset[disabled] & .textarea-wrapper {
    cursor:not-allowed;
  }
}
