uv-alert-message {
  display: inline-block; /* so it is easier to see bounding box in inspector */
  width: 100%;

  .alert {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 8px 9px 7px 38px;
    width: 100%;

    /* see styling for wc-alert-message when fixing uv-alert-message styling in the future */
  }

}
